.App,
.App-header,
html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  width: auto;
  height: 20px;
}

.title,
.body-text {
  padding-top: 10px;
  color: darkgrey;
}

html {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #282c34;
  color: #282c34;
}

body {
  padding-top: 50px;
  background-color: #282c34;
}

.projectImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.project-thumbnail {
  position: relative;
  height: auto;
  min-width: 275px;
  max-width: 350px;
}

.project-thumbnail:hover .overlay {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(31, 28, 28);
  border-radius: 20px;
}

.itemText {
  color: whitesmoke;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#project-title {
  padding-bottom: 25px;
  font-weight: bold;
}

#project-category {
  padding-top: 25px;
}

.formLabel {
  color: whitesmoke;
}

#inlineMessageSuccess {
  color: green;
}
#inlineMessageFail {
  color: red;
}

.PageNotFound {
  color: darkgrey;
  padding-top: 150px;
  font-size: 50pt;
}
